{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section" id="merchan">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Our brand</h2>
      </div>
    </div>
    <div class="center">
      {% for item in site.data.settings.portfolio-home-items %}
       <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image"  class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" target="_blank" href="{{ item.url }}">Click here to see it!</a>
          </div></div>
        </div>
      </div>
     {% endfor %}

    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}
